/*desktop*/
body
html, body {
    height:100%;
    background-image: url("../../media/images/backrounds/webdesign-banner.jpg");
    background-repeat: no-repeat;
    background-position: 1% 20%;
    /*I should find out the proper way of sizing a background image*/
    background-size: 1400px, 1px;
}

/*header*/
header{
    margin-top: 10%;
}
/**/
.fa-angle-double-down{
    color: red;
    font-size: xx-large;
}

/*Default Links*/
a{
    color: white;
}
/*Visited Links*/
a:visited {
    color: white;;
}
/* mouse over links*/
a:hover {
    color: white;
}
/*selected links*/
a:active {
    color: white;
}

/*Media Queries*/
/*Small desktops*/
@media screen and (max-width: 1050px){}

/*Tablets*/
@media screen and (max-width: 768px){}

/*Mobiles*/
@media screen and (max-width: 480px){}

/*xx small mobiles*/
@media screen and (max-width: 280px){}

/*Short mobiles*/
@media screen and (max-height:  610px){}

/*Short mobiles*/
@media screen and (max-height:  280px){

}